<div class="cotainer mt-2">
  <ng-container *ngIf="users">
  <div *ngIf="errorMessage" class="text-danger">
    {{errorMessage}}
  </div >
  <div class="card">

    <div class="card-header">Users</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Numero</th> <th>Email</th> <th>Prenom</th> <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of users">
          <td>{{c.id_user}}</td>
          <td>{{c.username}}</td>
          <td>{{c.firstname}}</td>
          <td>{{c.lastname}}</td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>
  </ng-container>
     <ng-template #failureOrloading >
       <ng-container *ngIf="errorMessage">
         <div class="text-danger">
           {{errorMessage}}
         </div>
       </ng-container>
       <ng-template #loading>
         loading
       </ng-template>

     </ng-template>

</div>
